@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  min-width: 100%;
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
  box-sizing: border-box;
  overflow: auto;
  background: linear-gradient(to bottom, #121212, #ffe34f);
}

@media screen and (min-width: 1194px) {
  body {
    padding: 50px 6.9%;
  }
}

@media screen and (max-width: 1194px) and (min-width: 428px) {
  body {
    padding: 40px 4%;
  }
}

@media screen and (max-width: 428px) {
  body {
    padding: 44px 5.6%;
  }
}

body a {
  text-decoration: none;
  color: #ffffff;
}
