img[src*='logo'] {
  height: 47.8px;
}

.navbar {
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}

.navbar__search {
  display: flex;
  width: 169px;
  height: 27.25px;
  border-radius: 50px;
}

@media screen and (min-width: 1194px) {
  .navbar__search {
    border: 1px solid #ffffff;
  }

  .navbar__search input {
    width: 110px;
  }
}

@media screen and (max-width: 1194px) {
  .navbar__search {
    border-style: none;
  }

  .navbar__search input {
    width: 96px;
  }

  .navbar__search::after {
    position: relative;
    top: 25px;
    left: -95px;
    content: '';
    display: flex;
    width: 50px;
    padding-right: 96px;
    height: 2px;
    background-color: #ffffff;
  }
}

.navbar__search img {
  height: 26.25px;
  margin-left: 10px;
  margin-right: 4px;
}

.navbar__search > span {
  position: relative;
  top: 3px;
  height: 20px;
  width: 1px;
  background-color: #777777;
  margin-right: 8px;
}

.navbar__search input {
  position: relative;
  top: 1.5px;
  height: 23.5px;
  background-color: rgba(239, 233, 233, 0);
  color: #ffffff;
  outline: none;
}

.navbar__list a {
  font-size: 24px;
  margin-left: 52px;
}

.navbar__list li:nth-of-type(1)::after {
  position: relative;
  top: 10px;
  left: 55px;
  content: '';
  display: flex;
  width: 93px;
  height: 2px;
  background-color: #ffffff;
}

.navbar__list li:nth-of-type(2):hover::after,
.navbar__list li:nth-of-type(3):hover::after,
.navbar__list li:nth-of-type(4):hover::after {
  position: relative;
  top: 10px;
  left: 55px;
  content: '';
  display: flex;
  width: 93px;
  height: 2px;
  background-color: #ffffff;
}

.navbar__list li:nth-of-type(5):hover::after {
  position: relative;
  top: 10px;
  left: 50px;
  content: '';
  display: flex;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
}

.navbar__button {
  position: fixed;
  top: 66px;
  right: -100%;
  z-index: 10;
  display: none;
  width: 32px;
  height: 24px;
  cursor: pointer;
}

.navbar__button__lines {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.navbar__button__lines li {
  width: 32px;
  height: 2.44px;
  background-color: #ffffff;
  margin-bottom: 8px;
  border-radius: 30px;
}

.navbar__button__lines li:nth-of-type(1) {
  width: 32px;
  transition: transform 500ms, margin-top 500ms;
}

.navbar__button__lines li:nth-of-type(2) {
  width: 28px;
  transition: transform 400ms, margin-top 400ms, width 400ms;
}

.navbar__button__lines li:nth-of-type(3) {
  width: 22px;
  transition: transform 300ms, margin-top 300ms, width 300ms, height 300ms;
}

@media screen and (max-width: 1000px) {
  img[src*='logo'] {
    height: 72px;
  }

  .navbar {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar__list {
    display: none;
  }

  .navbar__button {
    right: 4%;
    display: block;
  }

  .navbar__button.active .navbar__button__lines li:nth-of-type(1) {
    transform: rotateZ(45deg);
    margin-top: 10px;
  }

  .navbar__button.active .navbar__button__lines li:nth-of-type(2) {
    width: 32px;
    transform: rotateZ(45deg);
    margin-top: -9px;
  }

  .navbar__button.active .navbar__button__lines li:nth-of-type(2) {
    width: 32px;
    transform: rotateZ(45deg);
    margin-top: -10px;
  }

  .navbar__button.active .navbar__button__lines li:nth-of-type(3) {
    height: 3.44px;
    width: 32px;
    transform: rotateZ(135deg);
    margin-top: -11px;
  }
}

@media screen and (max-width: 428px) {
  .navbar__button {
    right: 5.6%;
  }
}

.list__aside {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #121212;
}

.list__aside a {
  font-size: 1.5rem;
}

.list__aside.active {
  display: block;
  overflow: hidden;
}

.list__aside div {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 69px;
}

.list__aside div > img {
  margin-bottom: 38px;
}

.list__aside div p {
  margin-bottom: 24px;
}

.aside__search {
  display: flex;
}

.aside__search img {
  cursor: pointer;
}

.aside__search input {
  width: 0px;
  margin-left: 8px;
  transition: width 700ms;
}

.aside__search input.active {
  width: 110px;
}
